:host {
  margin-bottom: 5px;
}

.col {
  display: flex;
  flex-direction: column;
  height: 100%;
  max-height: 50px;
  overflow-y: auto;
}
.row {
  display: block;
  margin-bottom: 5px;
}

.empty-examples-list {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  font-size: 0.75em;
}
