<mat-card>
  <mat-card-content>
    <div class="format-container">
      <mat-select
        #select
        [value]="ui.currFormat.name"
        (selectionChange)="formatSelected($event)"
        placeholder="Select Format"
      >
        <mat-option *ngFor="let format of options.formats" [value]="format.name"
          >{{ format.name }}</mat-option
        >
      </mat-select>
    </div>
  </mat-card-content>
</mat-card>

<mat-card>
  <mat-card-content>
    <div class="switch-container">
      <ng-container
        *ngIf="['Graph', 'Tree', 'LinkedList'].indexOf(ui.currTab.title) != -1"
      >
        <div
          class="switch-row"
          *ngFor="let toggle of $any(options.toggles | keyvalue); let index; let array"
        >
          <mat-slide-toggle
            color="primary"
            (change)="toggleChanged($event, toggle)"
            [(ngModel)]="options.toggles[toggle.key]"
          >
            {{ toggle.key }}</mat-slide-toggle
          >
        </div>

        <div *ngIf="keys(options.toggles).length == 0" class="empty-toggles">
          <span>no variants</span>
        </div>
      </ng-container>

      <ng-container *ngIf="['Stack', 'Queue'].indexOf(ui.currTab.title) != -1">
        <div class="button-col">
          <button
            *ngFor="let operation of options.toggles; let i = index"
            mat-raised-button
            color="primary"
            class="operation-btn"
            [style.marginRight]="i < options.toggles.length-1 ? '10px' : ''"
            (click)="buttonClicked(operation)"
          >
            {{ operation }}
          </button>
        </div>
        <div *ngIf="keys(options.toggles).length == 0" class="empty-toggles">
          <span>no operations</span>
        </div>
      </ng-container>
    </div>
  </mat-card-content>
</mat-card>
