<mat-card>
  <mat-card-content>
    <div class="format-container">
      <mat-select
        #select
        [value]="ui.currFormat.name"
        (selectionChange)="formatSelected($event)"
        placeholder="Select Format"
      >
        <mat-option *ngFor="let format of options.formats" [value]="format.name"
          >{{ format.name }}</mat-option
        >
      </mat-select>
    </div>
  </mat-card-content>
</mat-card>

<mat-card>
  <mat-card-content>
    <div class="switch-container">
      <div
        class="switch-row"
        *ngFor="let toggle of $any(options.toggles | keyvalue); let index; let array"
      >
        <mat-slide-toggle
          color="primary"
          (change)="toggleChanged($event, toggle.key)"
          [(ngModel)]="options.toggles[toggle.key]"
        >
          {{ toggle.key }}</mat-slide-toggle
        >
      </div>
      <div *ngIf="!keys(options.toggles).length" class="empty-toggles">
        <span>no variants</span>
      </div>
    </div>
  </mat-card-content>
</mat-card>
