:host {
  /* margin-bottom: 5px; */
  & span,
  label {
    font-size: 0.85em !important;
  }

  & mat-card {
    margin-bottom: 5px;
  }
}

.switch-container {
  height: 50px !important;
  max-height: 50px;
  min-height: 50px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}

.switch-row:not(:last-child) {
  margin-bottom: 10px;
}

.empty-toggles {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
