<p-card>
  <div class="format-container">
    <span class="form-label">Input Format</span>
    <p-dropdown
      #select
      id="format-dropdown"
      [disabled]="ui.currTab.formats.length == 1"
      [options]="ui.currTab.formats"
      [(ngModel)]="ui.currFormat"
      optionLabel="name"
      [showClear]="true"
      (onChange)="formatSelected($any($event))"
      placeholder="Select Format"
      [showClear]="false"
    ></p-dropdown>
  </div>

  @if (isToggleable()) {
  <div class="form-label">Variants</div>
  <div class="switch-container">
    @for (toggle of ui.currTab.toggles; track $index) {
    <div class="switch-row">
      <p-inputSwitch
        [(ngModel)]="toggle.value"
        (ngModelChange)="toggleChanged($event, toggle)"
      ></p-inputSwitch
      ><span>{{toggle.name}}</span>
    </div>
    }
  </div>
  } @else {
  <div class="form-label">Operations</div>
  <div class="button-container">
    @for (button of ui.currTab.toggles; track $index) {
    <p-button
      (onClick)="buttonClicked($event, button)"
      [style.marginRight]="$index % 2 != 0 ? '0' : '5px'"
      [label]="button.name"
    ></p-button>

    }
  </div>
  }
</p-card>
