<div class="textarea-root">
  <div class="form-label textarea-label">Dataset</div>
  <textarea
    pInputTextarea
    #input="ngModel"
    name="ta"
    [(ngModel)]="ui.currInput"
    [placeholder]="ui.currFormat.placeholder + '\n\n'"
    (ngModelChange)="textareaValueChanged($event)"
    type="text"
  >
  </textarea>
  <p-button
    [disabled]="ui.refreshDisabled"
    id="execute-btn"
    aria-label="Refresh"
    icon="pi pi-sync"
    size="small"
    severity="secondary"
    (onClick)="refreshClicked($any($event))"
  >
  </p-button>
</div>
