:host {
}

.textarea-root {
  position: relative;
}

#auto-refresh-toggle {
  position: absolute;
  left: 0;
  bottom: 0;
  margin-bottom: 5px;
  font-size: 8px !important;
}

#execute-btn {
  position: absolute;
  bottom: 10px;
  right: 20px;
  max-width: 30px;
  max-height: 30px;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

textarea[pinputtextarea] {
  width: 100%;
}

.textarea-label {
  position: absolute;
  right: 25px;
  top: 2px;
}
