<canvas width="300" height="300" #canvas id="canvas-main"></canvas>
<colorpicker
  *ngIf="ui.hasDrawing"
  [options]="nodeOptions"
  class="node-colorpicker floating-control"
></colorpicker>
<colorpicker
  *ngIf="ui.hasDrawing && ui.currTab.title != 'Stack' && ui.currTab.title != 'Queue'"
  [options]="edgeOptions"
  class="edge-colorpicker floating-control"
></colorpicker>

<colorpicker
  *ngIf="ui.hasDrawing"
  [options]="bgOptions"
  class="bg-colorpicker floating-control"
></colorpicker>
<idle-art *ngIf="!ui.hasDrawing"></idle-art>
