:host {
  width: auto;
  height: auto;
  margin-bottom: 22px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

colorpicker.node-colorpicker {
  left: 20px;
}
colorpicker.edge-colorpicker {
  left: 60px;
}

bgpicker {
  right: 20px;
}
