/* You can add global styles to this file, and also import other style files */
@import "app/styles/scrollbar.css";
@import "app/styles/rotate-center.css";
@import "app/styles/popup.css";

html,
body {
  height: 100vh;
  width: 100vw;
  margin: 0;
  background: transparent;
  border-radius: 5px;
  position: relative;
  overflow: hidden;
}

button[mat-raised-button] {
  width: 100%;
  text-align: left !important;
  font-size: 0.65rem !important;
  padding-left: 10px !important;
  padding-right: 10px !important;
  line-height: normal !important;
  & span {
    width: 100% !important;
  }
}

mat-card-content {
  padding: 8px !important;
}

mat-option {
  display: inline !important;
  max-height: 35px !important;
  font-size: 0.7rem !important;
}

textarea[matInput] {
  height: 75px !important;
  max-height: 200px !important;
  font-size: 10px !important;
  line-height: normal !important;
  resize: none;
}

.mat-mdc-tab-body-wrapper {
  display: none;
  max-height: 0px !important;
}

.mdc-switch__ripple {
  height: 30px !important;
  width: 30px !important;
}

.mat-error {
  font-size: 10px;
  font-weight: 400;
  letter-spacing: 0.4px;
  line-height: 20px;
  text-align: left;
  display: block;
  height: 22px;
  font-family: Roboto, sans-serif;
  position: absolute;
  bottom: 0;
  left: 5px;
}

canvas#canvas-main {
  background-position: center;
  background-size: cover;
  border-radius: 20px;
  transition: all 0.5s ease-in-out;
}

.floating-control {
  position: absolute;
  bottom: 0;
  margin-bottom: -12px;
  max-width: 32px;
  max-height: 32px;
  z-index: 150;
}

.floating-control-label {
  font-size: 0.55em;
  text-align: center;
  line-height: normal;
  color: var(--theme-floating-font);
  font-weight: 500;
}

.text-centered-overflow {
  margin-left: -100%;
  margin-right: -100%;
  text-align: center;
}

div#canvas-bg-container {
  background-color: transparent;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -10;
}

.mat-mdc-text-field-wrapper {
  border-bottom-right-radius: 5px !important;
  border-bottom-left-radius: 5px !important;
}

.bg-background {
  fill: var(--bg-background, #9db4c0);
}
.bg-edges {
  fill: var(--bg-edges, #818181);
}

.bg-vertices {
  fill: var(--bg-vertices), #515151;
}

div[role="tablist"] {
  width: fit-content;
  background-color: var(--theme-ui);
}

svg * {
  transition: fill 0.2s linear;
}

.mdc-tab__text-label {
  color: var(--theme-tabs-font) !important;
}

mat-card {
  background-color: var(--theme-ui) !important;
  color: var(--theme-font) !important;
}

mat-select {
  color: var(--theme-font) !important;
}

mat-slide-toggle > .mdc-form-field {
  color: var(--theme-font) !important;
}

/* textarea,
.mat-mdc-text-field-wrapper {
  color: var(--theme-font) !important;
  background-color: var(--theme-ui-textarea) !important;
} */

div[role="listbox"] {
  background-color: var(--theme-ui) !important;
}

span.mdc-list-item__primary-text {
  color: var(--theme-font) !important;
}

span.mdc-button__label {
  text-align: center;
}
