:host {
  height: 90%;
  display: block;
}

.controls-canvas-view {
  /* width: 99%; */
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 10px;
}
.controls-view {
  width: 100%;
  /* width: 30% !important; */
  /* min-width: 180px !important; */
  /* max-width: 200px !important; */
  display: flex;
  flex-direction: column;
}
