.controls-canvas-view {
  width: auto;
  height: fit-content;
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  padding: 10px 0 10px 10px;
}
.controls-view {
  width: 30% !important;
  min-width: 180px !important;
  display: flex;
  flex-direction: column;
  padding-right: 10px;
}
